<!DOCTYPE html>
<html>
<head>
  <title>PassMaster</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta2/css/all.css" integrity="INTEGRITY_CODE" crossorigin="anonymous" />
</head>
<body>
		<div class="display_password_data">
				<h4>
					<%=data.title %>
				</h4> 
				<form  method="post" action="/passManager/update" class="submitFormUpdate">
				<input class="enableInput" name="email" value="<%=data.email %>" disabled="">
				<input class="enableInput"  name="password" value="<%=data.password %>" disabled="">
				<input  name="id" value="<%=data._id %>" style="display:none">
				</form>
				<form method="post" action="/passManager/delete" class="deletePasswordData">
				<input  name="id" value="<%=data._id %>" style="display:none">
				</form>
				<div class="EnableEdit">
					<button onclick="enableInput()">Edit</button>
					<a  href="/manager/home">Cancel</a>
					<button onclick="deletePasswordData()">Delete</button>
				</div>
				<div style="display:none" class="disabledEdit">
					<button onclick="submitFormUpdate()">Done</button>
					<button onclick="disabledInput()">Cancel</button>
				</div>
		</div>
		<script>
			function enableInput () {
				document.querySelectorAll('.enableInput').forEach(edit => {
					edit.disabled= false
				})
				document.querySelector('.enableInput').focus()
				document.querySelector('.disabledEdit').style.display = 'flex'
				document.querySelector('.EnableEdit').style.display = 'none'
			}
			function disabledInput () {
				document.querySelectorAll('.enableInput').forEach(edit => {
					edit.disabled= true
				})
				document.querySelector('.disabledEdit').style.display = 'none'
				document.querySelector('.EnableEdit').style.display = 'flex'
			}
			function submitFormUpdate() {
				document.querySelector('.submitFormUpdate').submit()
			}
			function deletePasswordData() {
				document.querySelector('.deletePasswordData').submit()
			}
		</script>
</body>
</html>